# Dependencies
node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# Serverless
.serverless/
.serverless_plugins/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Build / coverage
dist/
build/
coverage/

# Temporary files
tmp/
temp/

# Local database files
*.sqlite
*.sqlite3

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# AWS / local credentials
.aws/